.is-draggable
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
.is-draggable
  cursor:move !important;
  cursor:-webkit-grab !important;
  cursor:grab !important;
.is-draggable.is-pointer-down
  cursor:-webkit-grabbing !important;
  cursor:grabbing !important;
