input.ng-pristine.ng-invalid, textarea.ng-pristine.ng-invalid
  border:1px solid #959595;
input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid
  border:1px solid #f00 !important;
input.ng-valid, textarea.ng-valid
  border:1px solid #959595 !important;

