meta(charset='utf-8')
meta(name="viewport" content="width=1246")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="Description")
meta(name="keywords" content="Keywords")
title Магазин обуви
link(rel="icon" type="image/png" href="./images/favicon.png")