.also-like
  margin-top:63px
  border-top:1px solid #e5e5e5
  padding-top:49px
  h1
    margin-bottom:31px
    color:#606060
    font:24px Georgia, sans-serif
    font-style:italic
    text-align:center
  ul
    text-align:center
    font-size:0
    li
      dibt()
      width:193px
      height:236px
      a
        text-decoration:none
        width:100%
        display:block
        height:235px
        border:1px solid #fff
        tn(.7s)
        &:hover
          border-color:#ccc
          .wrapper-text
            top:0
            opacity:1
        .wrapper-img
          margin-left:auto
          margin-right:auto
          margin-top:34px
          margin-bottom:20px
          position:relative
          z-index:0
          width:160px
          height:124px
          img
            aa(1)
            max-width:158px
            max-height 122px
        .wrapper-text
          opacity:0
          position:relative
          z-index:0
          top:10px
          tn(.5s)
          h2
            lb(14px)
          p
            margin-top:7px
            lr(14px)