.aside
  .range-block
    margin:24px 0 20px
    position:relative
    z-index:0
    .list-range
      margin-top:7px
    &:before
      content:''
      position:absolute
      z-index:1
      left:0
      top:8px
      background-color:#dedede
      width:3px
      height:8px
    &:after
      content:''
      position:absolute
      z-index:-1
      right:0
      top:8px
      background-color:#dedede
      width:15px
      height:8px
    .jslider-value
      display:none !important
  width:350px
  float:left
  padding-right:85px
  .wrapper-stars
    margin-top:26px
    margin-left:76px
    text-align:center
    .stars
      dibt()
      sprite($stars)
      span
        display:block
        sprite($stars_full)
    .count
      color:#303030
      margin-left:9px
      dint()
      dint()
      position:relative
      z-index:0
      top:2px
      lb(17px)
      text-transform:uppercase
  .wrapper-to-vote
    margin-left:76px
    text-align:center
    margin-top:20px
    .to-vote
      dibt()
      text-decoration:none
      lr(10px,37px)
      color:#fff
      text-transform:uppercase
      width:153px
      height:40px
      display:block
      margin:0 auto
      background-color:#a9c251
      border:3px solid #ecf2eb
      tn(.5s)
      &:hover
        background-color:#84C232
  .wrapper-buttons
    margin-top:31px
    after()
    padding-top:12px
    > button
      float:left
      text-decoration:none
      lr(14px, 37px)
      padding-top:4px
      color:#fff
      text-transform:uppercase
      width:153px
      height:40px
      display:block
      margin:0 auto
      background-color:#a9c251
      tn(.5s)
      &:hover
        background-color:#84c232
    a
      float:right
      text-decoration:none
      dibt()
      margin-top:14px
  .list-switchers
    width:100%
    > li
      margin-top:30px
      display:block
      &:first-child
        margin-top:0
      .content-switcher
        overflow hidden
        tn(.7s)
      &:last-child
        > a
          &.open
            position:relative
            z-index:0
            +.content-switcher
              padding-bottom:20px
              position:relative
              z-index:0
              &:before
                content:''
                position:absolute
                z-index:1
                left:0
                bottom:0
                width:100%
                height:1px
                background-color:#000
      > a
        cursor:pointer
        text-align:left
        position:relative
        z-index:0
        padding-top:3px
        display:block
        height:24px
        width:100%
        text-decoration:none
        border-bottom:1px solid #303030
        font:12px Georgia, sans-serif
        font-style:italic
        color:#606060
        &.open
          &:after
            transform:translate(0, -50%) scale(1, -1)
            margin-top:7px
          + .content-switcher
            max-height 800px
        &.close
          &:after
            transform:translate(0, -50%) scale(-1, 1)
          + .content-switcher
            max-height 0
        &:after
          tn(.5s)
          content:''
          position:absolute
          z-index:1
          top:50%
          right:1px
          border:6px solid transparent;
          border-bottom:6px solid #303030
  .content-switcher
    .custom-color
      display:none
    .checkbox-block, .checkbox-color
      position:relative
      z-index:0
      margin-top:14px
      &:first-child
        margin-top:21px
    .custom-checkbox
      display:none
    .checkbox-block
      .checkbox
        cursor:pointer
        position:relative
        z-index:0
        margin-left:22px
        font:12px Georgia, sans-serif
        font-style:italic
        color:#606060
        &.check
          + .fa
            opacity:1
        &:after
          left:-22px
          top:0
          content:''
          position:absolute
          z-index:1
          width:14px
          height:13px
          background-color:#ccc
    .checkbox-color
      cursor:pointer
      dibt()
      margin-top:15px !important
      margin-left:13px
      &:nth-of-type(6n-5)
        margin-left:0
        >.checkbox
          margin-left:0
      label
        margin-left:0
      .checkbox
        &:after
          display:none
        dibt()
        width:30px
        height:30px
        border-radius:50%
        position:relative
        z-index:0
        cursor:pointer
        + .fa
          color:#fff
          font-size:14px
          margin-top:0
          aa(1)
        &.check
          + .fa
            opacity:1
        &:after
          left:-22px
          top:0
          content:''
          position:absolute
          z-index:1
          width:14px
          height:13px
          background-color:#ccc
    .fa
      cursor:pointer
      tn(.7s)
      opacity:0
      position:absolute
      z-index:0
      left:2px
      top:50%
      tt(0, -50%)
      margin-top:-1px
      font-size:10px
    .list-range
      after()
      > li
        font:14px Georgia, sans-serif
        font-style:italic
        color:#606060
        &:first-child
          float:left
        &:nth-child(2)
          float:right