.aside
  text-align:left
  width:355px
  //position:absolute
  //z-index:0
  //height:calc(100% - 165px)
  .nav
    dibt()
    //height:100%
    //position:absolute
    //z-index:0
    padding-top:30px
    width:127px
    > ul
      > li
        &:last-child
          >a
            >span:before
              display:none
        > a
          display:block
          text-align:center
          height:85px
          text-decoration:none
          >span
            cursor:pointer
            dibt()
            position:relative;
            width:130px
            height:80px
            z-index:0
            &:before
              content:''
              position:absolute
              z-index:1
              bottom:0
              right:10%
              width:80%
              height:1px
              background-color:rgba(#fff,.5)
            &:hover:after
              width:100%
            &:after
              left:0;
              top:-4px;
              content:''
              position:absolute
              z-index:1
              tn(.5s)
              background-color:#ff3000
              height:4px
              width:0
            span
              aa(1)
              top:28%
              &.text
                top:75%
                color:#000
                kb(13px)
                text-transform:uppercase
  .sub-category
    text-align:left
    dibt()
    padding-top:20px
    padding-left:20px
    >li
      margin-top:27px
      >a
        text-decoration:none
        position:relative
        z-index:0
        dibt()
        .wrapper-img
          position:absolute
          z-index:0
          width:20px
          height:20px
          left:6px
          top:50%
          tt(0,-50%)
        svg
          position:absolute
          z-index:1
          left:50%
          top:50%
          tt(-50%,-50%)
        span
          dibt()
          padding-left:42px
          kl(14px)
          color:#000
          tn(.5s)
        &:hover,&.active
          span
            color:#ff3000