.cart
  margin-top:90px
  table
    width:100%
    text-align:left
    tr
      width:100%
      th
        color:#909090
        lr(12px)
        text-transform:uppercase
        border-bottom:1px solid #e5e5e5
        padding-bottom:12px
        text-align:center
        &:first-child
          text-align:left
          padding-left:9px
          width:126px
        &:nth-child(2)
          text-align:left
          padding-left:9px
        &:last-child
          width:77px
        &:nth-last-child(2)
          text-align:center
          width:144px
        &:nth-last-child(3)
          text-align:center
          width:125px
        &:nth-last-child(4)
          width:100px
          text-align:center
      td
        padding:20px 0
        height:136px
        border-bottom:1px solid #e5e5e5
        &:last-child
          text-align:center
          .delete
            cursor:pointer
            dibt()
            sprite($close)
            tn(.5s)
            &:hover
              transform rotate(-180deg)
        &:first-child
          text-align:center
          vertical-align:middle
          .wrapper-img
            dibt()
            width:100px
            height:100px
            border:1px solid #e5e5e5
            position:relative
            z-index:0
            img
              aa(1)
              max-width 96%
              max-height 96%
        &:nth-child(2)
          h3
            color:#303030
            lb(14px)
            text-transform:uppercase
            margin-bottom:10px
          p
            color:#606060
            gi(12px)
        &:nth-child(3)
          text-align:center
          color:#303030
          lr(14px)
        &:nth-child(4)
          text-align:center
          color:#303030
          lr(14px)
          input
            margin-top:5px
            margin-right:8px
            border:none !important
            width:20px
            text-align:right
            color:#303030
            lr(14px)
          ul
            dibt()
            li
              &:first-child
                margin-bottom:2px
                a
                  sprite($plus)
              &:nth-child(2)
                a
                  sprite($minus)
              a
                text-indent:-9999em
                display:block
                text-decoration:none
        &:nth-child(5)
          text-align:center
          lr()
          color:#303030
  .result
    position:relative
    z-index:0
    margin-bottom:167px
    margin-top:5px
    text-align:right
    background-color:#a9c251
    height:58px
    padding-top:17px
    &:after
      content:''
      position:absolute
      z-index:1
      left:50%
      top:133px
      tt(-50%,0)
      sprite($rubed)
    span
      lb(31px)
      color:#fff
      &:first-child
        font-size:20px
        margin-right:17px
      &:last-child
        margin:0 20px 0 13px
  .step
    text-align:center
    padding:98px 0 88px
    background-color:#fefefe
    border:1px solid #e5e5e5
    &:first-of-type
      margin-bottom:165px
      position:relative
      z-index:0
      &:after
        content:''
        position:absolute
        z-index:1
        left:50%
        bottom:-90px
        tt(-50%,0)
        sprite($rubed)
    .multiSelect
      text-align:left
    .default-sub-title
      margin-bottom:99px
    h1
      text-transform:uppercase
      color:#303030
      text-align:center
      lb(36px)