/* Overlay style */
.overlay
  position:fixed
  width:100%
  height:100%
  top:0
  left:0
  z-index:1000
  background:rgba(#f4f7e7, .98)
  .slider-form
    background:none
/* Overlay closing cross */
.overlay .overlay-close
  width:80px
  height:80px
  position:absolute
  right:20px
  top:20px
  overflow:hidden
  border:none
  color:transparent
  outline:none
  z-index:100
  span
    dibt()
    sprite($cross)
.overlay .inner-popup
  margin:0 auto
  width:932px
  text-align:center
  position:relative
  top:50%
  max-height:80%
  z-index:5
  transform:translateY(-50%)
  .slider-form
    float:none
    margin:0 auto
  .content &
    overflow:hidden
  .wrapper-button
    width:auto !important
  .title
    lh(50px)
    text-transform:uppercase
    color:#fff
  .choise
    color:#e7512a
    lb(24px)
    margin:18px 0 76px
  .inf
    color:#fdfeff
    lr(13px)
    margin:17px 0 37px
/* Effects */
.overlay-cornershape
  background:transparent
  visibility:hidden
  -webkit-transition:visibility 0s 0.5s
  transition:visibility 0s 0.5s
.overlay-cornershape.open
  visibility:visible
  -webkit-transition:none
  transition:none
.overlay-cornershape svg
  position:absolute
  top:0
  left:0
.open .popup-bg-img
  opacity:1
.popup-bg-img
  opacity:0
  tn(1s)
  transition-delay:0.8s;
  position:absolute
  z-index:2
  left:0
  top:0
  width:100%
  height:100%
  background-image:url(../images/bg/enter.jpg)
  background-repeat:no-repeat
  background-position:center top
  background-size cover
.overlay-cornershape .overlay-path
  fill:rgba(#f4f7e7, .98)
//.overlay-cornershape .inner-popup,
//.overlay-cornershape .overlay-close
//  opacity:0
//  tn(.4s)
//.overlay-cornershape.open .inner-popup,
//.overlay-cornershape.open .overlay-close
//  opacity:1
//  tn(.4s)
.overlay-cornershape.close nav,
.overlay-cornershape.close .overlay-close
  transition-delay:.4s
