.svg-container-block
  width:100%
  height:100%
  background-color:#fff
  position:fixed !important
  z-index:20000
  left:0
  top:0
  opacity:1
  tn(1s)
  &.page-is-loaded
    opacity:0
  .progress
    .ua-mobile &
      display:none
    position:absolute
    z-index:10
    left:50%
    tt(-50%, 0)
    top:10%
    width:10vw;
    height:10vw;
    //.ua-mobile &
    //  width:40vw;
    //  height:40vw;
    .text
      text-align:center
      color:#000
      font:2vw Arial, sans-serif
      aa(1)
/*
#boxLoader, #boxContainer, #base
  position:absolute
  left:50%
  top:50%
#boxContainer
  tt(-50%, 50%)
#boxLoader
  margin-left:-35px
  margin-top:-35px
#base
  margin-left:-105px
  margin-top:-105px*/
