.private-office-links
  text-align:center
  font-size:0
  margin:77px 0
  > li
    dibt()
    &:first-child
      margin-right:22px
    a
      text-align:center
      display:block
      text-decoration:none
      padding-top:2px
      width:254px
      height:51px
      text-transform:uppercase
      color:#fff
      dibt()
      line-height:51px
      background-color:#79bdbe
      tn(.5s)
      &:hover
        background-color:#84c232
.wrapper-private-office-link
  margin:30px 0
  text-align:center
  .private-office-link
    dibt()
    text-align:center
    text-decoration:none
    padding-top:2px
    width:254px
    height:51px
    text-transform:uppercase
    color:#fff
    dibt()
    line-height:51px
    background-color:#79bdbe
    tn(.5s)
    &:hover
      background-color:#84c232
.history-orders
  margin-top:20px
  width:100%
  text-align:left
  tr
    width:100%
    &:last-child
      td
        border-bottom:1px solid #e5e5e5
    th
      padding-bottom:13px
      color:#909090
      text-transform:uppercase
      lr(12px)
      &:first-child
        width:123px
        padding-left:11px
    td
      padding-bottom:26px
      border-top:1px solid #e5e5e5
      vertical-align:top
      padding-top:34px
      color:#303030
      lr()
      &:nth-child(3)
        width:500px
      &:nth-child(4)
        text-transform:uppercase
      ul
        margin-top:-9px
        > li
          margin-top:23px
          after()
          &:first-child
            margin-top:0
          .wrapper-img
            margin-right:10px
            width:38px
            height:38px
            border:1px solid #e5e5e5
            dibt()
            position:relative
            z-index:0
            img
              aa(1)
              max-width 95%
              max-height 95%
          .info
            max-width 445px
            dibt()
            h2
              padding-top:5px
              text-transform:uppercase
              color:#303030
              lb(14px)
            p
              margin-top:4px
              color:#606060
              gi(12px)
.wrapper-add-more
  margin-top:35px
  display:block
  .add-more
    padding:19px 0 14px
    width:100%
    display:block
    text-align:center
    background-color:#f1f1f1
    color:#606060
    text-transform:uppercase
    lr(14px)
    tn(.5s)
    &:hover
      background-color:#84c232
      color:#fff