.subscribe
  padding-bottom:47px
  border-top:1px solid #e5e5e5
  border-bottom:1px solid #e5e5e5
  &.private
    border-bottom:none
  .container
    width:100%
    >p
      text-align:center
      color:#606060
      font:18px Georgia, sans-serif
    .subscribe-form
      padding-top:47px
      text-align:center
      font-size:0
      >div
        dibt()
        input
          width:474px
          height:56px
          border-top:1px solid #959595
          border-left:1px solid #959595
          border-bottom:1px solid #959595
          border-right none
          padding-left:14px
          padding-right:14px
          padding-top:2px
          lm(14px,56px)
      .send
        position:relative
        z-index:0
        left:-1px
        height:56px
        width:95px
        background-color:#ffcd45
        color:#fff
        lr(14px,58px)