div.checkbox-color
    input(id="" type="checkbox" ng-model="model" class="custom-color")
    label(ng-class="(model==true)?'check':'no-check'" ng-click="switch(model)" class="checkbox" ng-style="{backgroundColor:'{{value}}'}")
    span.fa.fa-check(ng-click="switch(model)")