doctype html
html
    head
        include ./includes/head.jade
        include ./includes/mixins.jade
    body(pointer-events-scroll ng-controller="PopupCtrl" style="opacity:0")
        .wrapper.dNtoLoad
            +header()
            a(href="./cart.html" ng-class="{'rubberBand':animated == true}").fixed-cart.animated
                span.count 12
            main.main
                .container
                    +header-content()
                    block content
        footer.footer
            .footer-top
                .container
                    div
                        h1.title Коллекции
                        ul
                            li
                                a(href="./category.html") Женская обувь (1725)
                            li
                                a(href="./category.html") Мужская обувь (635)
                            li
                                a(href="./category.html") Детская обувь (2514)
                            li
                                a(href="./category.html") Распродажа (76)
                    div
                        h1.title Полезные ссылки
                        ul
                            li
                                a(href="./category.html") Женская обувь (1725)
                            li
                                a(href="./category.html") Мужская обувь (635)
                            li
                                a(href="./category.html") Детская обувь (2514)
                            li
                                a(href="./category.html") Распродажа (76)
                    div
                        h1.title Магазин
                        ul
                            li
                                a(href="./category.html") Женская обувь (1725)
                            li
                                a(href="./category.html") Мужская обувь (635)
                            li
                                a(href="./category.html") Детская обувь (2514)
                            li
                                a(href="./category.html") Распродажа (76)
                    div
                        h1.title Социальные сети
                        p 2015 © All rights reserved. S.Klimov
                        ul.social
                            li
                                a(href="https://twitter.com/")
                                    span.fa.fa-twitter
                                    span twitter
                            li
                                a(href="https://ru-ru.facebook.com/")
                                    span.fa.fa-facebook
                                    span facebook
                            li
                                a(href="http://instagram.com/")
                                    span.fa.fa-instagram
                                    span instagram
            .container
                .footer-bottom
                    a.firm-logo(href='http://tutmee.ru')
                        div
                            span &Scy;&ocy;&zcy;&dcy;&acy;&ncy;&icy;&iecy; &dcy;&icy;&zcy;&acy;&jcy;&ncy;&acy;
                            span &icy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&acy; &scy;&acy;&jcy;&tcy;&ocy;&vcy;
                            span LTD Tutmee.ru
                        div
                            img(src='./images/firm-logo.png' width="195" height="53")
        //#container-preloader.svg-container(preloader='[".wrapper"]' animate-preloader)
        //    .progress
        //        .text#persent-loaded 0
        //        progress-circle
        //    svg#preloader-svg(width='100%', height='100%' viewBox="0 0 187.3 93.70")
        //        path#outline(style='-webkit-filter:url(#f2)', stroke='#ff3000', fill='none', stroke-width='4', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z')
        //        path#outline-bg(opacity='0.5', fill='none', stroke="#ededed", stroke-width='4', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z')
        button.up.fa.fa-angle-double-up(move-up)
        // popup recall block
        //popup-svg.hide
        //    .slider-form
        //        h2
        //            span Сделать заказ
        //            span прямо сейчас
        //        form.form-validate(name="formValidate", method='POST' novalidate='' is-valide-border="{{formValidate.$invalid}}" ng-controller="SliderFormCtrl")
        //            div.wrapper-input
        //                input(type="text" name="name" placeholder="Ваше имя" ng-model='dataForm.name' autocomplete="off" required)
        //                span
        //            div.wrapper-input
        //                input(type="text" name="phone" ui-mask="+7(999)-999-99-99" ng-model='dataForm.phone' autocomplete="off" required)
        //                span
        //            .wrapper-send
        //                button.send(ng-click="send('slider-form',formValidate)") Отправить заявку
        //            p Гарантируем конфиденциальность ваших данных
        //                span.fa.fa-lock
        // popup
        popup-svg.hide-block
            section.authentification-block
                img.logo(src="./images/popup-logo.jpg")
                .flipper(flipper-x="click")
                    .back
                        form#auth-reg.form-validate.reg(name="formValidate" method="POST" is-valide-border="{{formValidate.$invalid}}" novalidate ng-controller="FormAuthCtrl"
                        ng-init="action='./controller.php'")
                            h1.title-form Регистрация
                            div
                                label(for="email") E-mail
                                input#email(type="email" name="email" ng-model='dataForm.data.email' required)
                            div
                                label Пароль
                                .show-psw(ng-click="determineType(isPwdShow)")
                                input(type="{{type}}" name="pwd" ng-model="dataForm.data.pwd" required)
                            div
                                label Повторить пароль
                                .show-psw(ng-click="determineType(isPwdShow)")
                                input(type="{{type}}" name="re_pwd" ng-model="dataForm.data.re_pwd" required)
                            div.wrapper-send
                                button.send(ng-click='send(dataForm,formValidate,action,"auth-reg")') Зарегистрироваться
                            div.wrapper-link
                                a(href="" ng-click="switch('enter')") Вернуться к форме входа
                    .front
                        form.form-validate#auth-enter(name="formValidate" method="POST" is-valide-border="{{formValidate.$invalid}}" novalidate
                        ng-controller="FormAuthCtrl"
                        ng-init="action='./controller.php'")
                            h1.title-form Войти
                            div
                                label(for="email") E-mail
                                input#email(type="email" name="email" ng-model='dataForm.data.email' required)
                            div
                                label(for="pwd") Пароль
                                .show-psw(ng-click="determineType(isPwdShow)")
                                input(type="{{type}}" name="pwd" ng-model="dataForm.data.pwd" required)
                            input(type="hidden" name="task" value="enter")
                            input(type="hidden" name="b8d93ef2c20163ba95c60b46df5d75be" value="1")
                            div.wrapper-send
                                button.send(ng-click='send(dataForm,formValidate,action,"auth-enter")') Авторизоваться
                            div.wrapper-link
                                p У меня еще нет аккаунта
                                a(href="" ng-click="switch('reg')") Зарегистрироваться
        include ./includes/thanks.jade
        script(src="bundle.js" async)
        //script(src="http://localhost:8080/webpack-dev-server.js")
        //script(src="http://localhost:8080/bundle.js")