//- index.jade
extends ../layout.jade
block content
    ul.breadcrumbs
        li
            a(href="./") Главная
        li
            a(href="./") Для женщин
        li
            a(href="./") Босоножки
        li
            span Betsy
    section
        h1.default-title Ваша корзина
        h2.default-sub-title Резервация товара ограничена
        section.cart(ng-controller="CartCtrl" ng-init="cart.products=#{JSON.stringify(cart)}")
            table
                tr
                    th Товар
                    th Описание
                    th Размер
                    th Кол-во
                    th Цена
                    th удалить
                tr(ng-repeat="product in cart.products")
                    td
                        a(ng-href="{{product.link}}").wrapper-img
                            img(ng-src="{{product.file_url}}")
                    td
                        h3(ng-bind="product.product_name") Босоножки BETSY
                        p Артикул:
                            span(ng-bind="product.product_sku")
                    td 39
                    td
                        input(type="text" ng-model="product.quantity")
                        ul
                            li
                                a(href="" class="plus" ng-click="changeQuantity(product,'increment')") +
                            li
                                a(href="" class="minus" ng-click="changeQuantity(product,'decrement')") -
                    td
                        span(ng-bind="product.product_price|splitSpace")
                        |  руб.
                    td
                        a.delete(ng-click="delete(product)")
            div.result
                span Итого:
                span(ng-bind="resultSum(cart.products)|splitSpace")
                span руб.
            section#delivery.step
                h1 Адрес доставки
                h2.default-sub-title Все поля обязательны для заполнения
                delivery-form(data="cart")
            section#payment.step
                h1 Метод оплаты
                h2.default-sub-title Все поля обязательны для заполнения
                payment-form(data="cart")
                form.order-form(method="post" action="./cart.html")
                    input(type="hidden" value="{{cart}}")
                    div.wrapper-send
                        button.send(move-to-form="cart.hidden.isValidForm" ng-if="cart.hidden.isValidForm") Заказать сейчас
                        a.send-link.disabled(move-to-form="cart.hidden.isValidForm" ng-if="!cart.hidden.isValidForm") Заказать сейчас