//- index.jade
extends ../layout.jade
block content
    ul.breadcrumbs
        li
            a(href="./") Главная
        li
            span Для женщин
    section
        h1.default-title Для женщин
        h2.default-sub-title все товары
        ul.sub-categories
            li
                a(href="") Туфли
            li
                a(href="") Босоножки
            li
                a(href="") Балетки
            li
                a(href="") Мокасины
            li
                a(href="") Сапоги
            li
                a(href="") Полусапожки
            li
                a(href="") Сникеры
            li
                a(href="") Лоферы
            li
                a(href="") Сандалии
            li
                a(href="") Сабо

