//- index.jade
extends ../layout.jade
block content
    ul.breadcrumbs
        li
            a(href="./") Главная
        li
            a(href="./") Для женщин
        li
            a(href="./") Босоножки
        li
            span Betsy
    section
        h1.default-title.private Здравствуйте, Иван Это ваш личный кабинет
        h2.default-sub-title Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat.
        ul.private-office-links
            li
                a(href="private-office-history.html") История заказов
            li
                a(href="private-office-edit.html") Редактировать аккаунт
        section.subscribe.private
            .container
                h1.default-title Подпишитесь на обновления
                p Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat.
                form.form-validate.subscribe-form(name="formValidate" is-valide-border="{{formValidate.$invalid}}" novalidate ng-controller="SubscribeCtrl" ng-init='action="./controller.php"')
                    div
                        input(type="email" name="subscribe" placeholder="Ваш email" ng-model='dataForm.data.subscribe' autocomplete="off" required)
                    input(type="hidden" name="task" ng-init='dataForm.hidden.task="subscribe"' ng-model='dataForm.hidden.task')
                    button.send(ng-click='send(dataForm,formValidate,action)') Ок