dibt()
  display:inline-block
  vertical-align:top
dibm()
  display:inline-block
  vertical-align:middle
dibb()
  display:inline-block
  vertical-align:bottom
after()
  &:after
    content:"."
    clear:both
    display:block
    height:0
    font-size:0
    visibility:hidden
tn($time = 0.5s, $property = all)
  transition:$property $time ease-out
tm($property)
  transform:$property
tt($x = -50%, $y = -50%, $z = 0)
  transform:translate($x, $y)
sc($scale)
  transform:scale($scale)
//rotate($deg)
//  transform:rotate($deg)
//flip-h()
//  scale(-1, 1)
//flip-v()
//  scale(1, -1)
tb($color = black, $bor = "", $bs = "")
  border:$bor solid transparent
  border-top:$bs solid $color
aa($zindex = 0)
  position:absolute
  z-index:$zindex
  top:50%
  left:50%
  tt(-50%, -50%)
gradient($colors, $direction = top)
  background:linear-gradient(to $direction, $colors)
sprite-hover($sprite, $sprite-hover)
  sprite($sprite)
  &:hover
    sprite($sprite-hover)
lr($size = 14px, $lh = 1, $fw = 400)
  font-family:'latoregular', Tahoma, sans-serif
  line-height:$lh
  font-size:$size
ll($size = 14px, $lh = 1, $fw = 300)
  font-family:'latolight', Tahoma, sans-serif
  line-height:$lh
  font-size:$size
lbl($size = 14px, $lh = 1, $fw = 800)
  font-family:'latoblack', Tahoma, sans-serif
  line-height:$lh
  font-size:$size
lsb($size = 14px, $lh = 1, $fw = 400)
  font-family:'latosemibold', Tahoma, sans-serif
  line-height:$lh
  font-size:$size
lb($size = 14px, $lh = 1, $fw = 400)
  font-family:'latobold', Tahoma, sans-serif
  line-height:$lh
  font-size:$size
lm($size = 14px, $lh = 1, $fw = 400)
  font-family:'latomedium', Tahoma, sans-serif
  line-height:$lh
  font-size:$size
lh($size = 14px, $lh = 1, $fw = 400)
  font-family:'latoheavy', Tahoma, sans-serif
  line-height:$lh
  font-size:$size
gi($size = 14px, $lh = 1, $fw = 400)
  font-family:'Georgia', Tahoma, sans-serif
  line-height:$lh
  font-size:$size
  font-style italic