/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_down_name = 'arrow-down';
$arrow_down_x = 122px;
$arrow_down_y = 42px;
$arrow_down_offset_x = -122px;
$arrow_down_offset_y = -42px;
$arrow_down_width = 11px;
$arrow_down_height = 6px;
$arrow_down_total_width = 151px;
$arrow_down_total_height = 115px;
$arrow_down_image = '../../images/sprite.png';
$arrow_down = 122px 42px -122px -42px 11px 6px 151px 115px '../../images/sprite.png' 'arrow-down';
$arrow_left_name = 'arrow-left';
$arrow_left_x = 21px;
$arrow_left_y = 61px;
$arrow_left_offset_x = -21px;
$arrow_left_offset_y = -61px;
$arrow_left_width = 17px;
$arrow_left_height = 33px;
$arrow_left_total_width = 151px;
$arrow_left_total_height = 115px;
$arrow_left_image = '../../images/sprite.png';
$arrow_left = 21px 61px -21px -61px 17px 33px 151px 115px '../../images/sprite.png' 'arrow-left';
$arrow_up_name = 'arrow-up';
$arrow_up_x = 107px;
$arrow_up_y = 42px;
$arrow_up_offset_x = -107px;
$arrow_up_offset_y = -42px;
$arrow_up_width = 11px;
$arrow_up_height = 6px;
$arrow_up_total_width = 151px;
$arrow_up_total_height = 115px;
$arrow_up_image = '../../images/sprite.png';
$arrow_up = 107px 42px -107px -42px 11px 6px 151px 115px '../../images/sprite.png' 'arrow-up';
$arrow_name = 'arrow';
$arrow_x = 61px;
$arrow_y = 42px;
$arrow_offset_x = -61px;
$arrow_offset_y = -42px;
$arrow_width = 27px;
$arrow_height = 13px;
$arrow_total_width = 151px;
$arrow_total_height = 115px;
$arrow_image = '../../images/sprite.png';
$arrow = 61px 42px -61px -42px 27px 13px 151px 115px '../../images/sprite.png' 'arrow';
$arrrow_right_name = 'arrrow-right';
$arrrow_right_x = 0px;
$arrrow_right_y = 61px;
$arrrow_right_offset_x = 0px;
$arrrow_right_offset_y = -61px;
$arrrow_right_width = 17px;
$arrrow_right_height = 33px;
$arrrow_right_total_width = 151px;
$arrrow_right_total_height = 115px;
$arrrow_right_image = '../../images/sprite.png';
$arrrow_right = 0px 61px 0px -61px 17px 33px 151px 115px '../../images/sprite.png' 'arrrow-right';
$auth_name = 'auth';
$auth_x = 0px;
$auth_y = 98px;
$auth_offset_x = 0px;
$auth_offset_y = -98px;
$auth_width = 11px;
$auth_height = 17px;
$auth_total_width = 151px;
$auth_total_height = 115px;
$auth_image = '../../images/sprite.png';
$auth = 0px 98px 0px -98px 11px 17px 151px 115px '../../images/sprite.png' 'auth';
$cart_name = 'cart';
$cart_x = 42px;
$cart_y = 61px;
$cart_offset_x = -42px;
$cart_offset_y = -61px;
$cart_width = 17px;
$cart_height = 17px;
$cart_total_width = 151px;
$cart_total_height = 115px;
$cart_image = '../../images/sprite.png';
$cart = 42px 61px -42px -61px 17px 17px 151px 115px '../../images/sprite.png' 'cart';
$close_name = 'close';
$close_x = 92px;
$close_y = 42px;
$close_offset_x = -92px;
$close_offset_y = -42px;
$close_width = 11px;
$close_height = 12px;
$close_total_width = 151px;
$close_total_height = 115px;
$close_image = '../../images/sprite.png';
$close = 92px 42px -92px -42px 11px 12px 151px 115px '../../images/sprite.png' 'close';
$cross_name = 'cross';
$cross_x = 0px;
$cross_y = 0px;
$cross_offset_x = 0px;
$cross_offset_y = 0px;
$cross_width = 57px;
$cross_height = 57px;
$cross_total_width = 151px;
$cross_total_height = 115px;
$cross_image = '../../images/sprite.png';
$cross = 0px 0px 0px 0px 57px 57px 151px 115px '../../images/sprite.png' 'cross';
$email_name = 'email';
$email_x = 63px;
$email_y = 61px;
$email_offset_x = -63px;
$email_offset_y = -61px;
$email_width = 16px;
$email_height = 17px;
$email_total_width = 151px;
$email_total_height = 115px;
$email_image = '../../images/sprite.png';
$email = 63px 61px -63px -61px 16px 17px 151px 115px '../../images/sprite.png' 'email';
$phone_name = 'phone';
$phone_x = 83px;
$phone_y = 61px;
$phone_offset_x = -83px;
$phone_offset_y = -61px;
$phone_width = 16px;
$phone_height = 16px;
$phone_total_width = 151px;
$phone_total_height = 115px;
$phone_image = '../../images/sprite.png';
$phone = 83px 61px -83px -61px 16px 16px 151px 115px '../../images/sprite.png' 'phone';
$stars_full_name = 'stars-full';
$stars_full_x = 61px;
$stars_full_y = 21px;
$stars_full_offset_x = -61px;
$stars_full_offset_y = -21px;
$stars_full_width = 90px;
$stars_full_height = 17px;
$stars_full_total_width = 151px;
$stars_full_total_height = 115px;
$stars_full_image = '../../images/sprite.png';
$stars_full = 61px 21px -61px -21px 90px 17px 151px 115px '../../images/sprite.png' 'stars-full';
$stars_name = 'stars';
$stars_x = 61px;
$stars_y = 0px;
$stars_offset_x = -61px;
$stars_offset_y = 0px;
$stars_width = 90px;
$stars_height = 17px;
$stars_total_width = 151px;
$stars_total_height = 115px;
$stars_image = '../../images/sprite.png';
$stars = 61px 0px -61px 0px 90px 17px 151px 115px '../../images/sprite.png' 'stars';
$spritesheet_width = 151px;
$spritesheet_height = 115px;
$spritesheet_image = '../../images/sprite.png';
$spritesheet_sprites = $arrow_down $arrow_left $arrow_up $arrow $arrrow_right $auth $cart $close $cross $email $phone $stars_full $stars;
$spritesheet = 151px 115px '../../images/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
