/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_down_name = 'arrow-down';
$arrow_down_x = 155px;
$arrow_down_y = 99px;
$arrow_down_offset_x = -155px;
$arrow_down_offset_y = -99px;
$arrow_down_width = 11px;
$arrow_down_height = 6px;
$arrow_down_total_width = 171px;
$arrow_down_total_height = 138px;
$arrow_down_image = '../../images/sprite.png';
$arrow_down = 155px 99px -155px -99px 11px 6px 171px 138px '../../images/sprite.png' 'arrow-down';
$arrow_left_name = 'arrow-left';
$arrow_left_x = 21px;
$arrow_left_y = 105px;
$arrow_left_offset_x = -21px;
$arrow_left_offset_y = -105px;
$arrow_left_width = 17px;
$arrow_left_height = 33px;
$arrow_left_total_width = 171px;
$arrow_left_total_height = 138px;
$arrow_left_image = '../../images/sprite.png';
$arrow_left = 21px 105px -21px -105px 17px 33px 171px 138px '../../images/sprite.png' 'arrow-left';
$arrow_up_name = 'arrow-up';
$arrow_up_x = 155px;
$arrow_up_y = 89px;
$arrow_up_offset_x = -155px;
$arrow_up_offset_y = -89px;
$arrow_up_width = 11px;
$arrow_up_height = 6px;
$arrow_up_total_width = 171px;
$arrow_up_total_height = 138px;
$arrow_up_image = '../../images/sprite.png';
$arrow_up = 155px 89px -155px -89px 11px 6px 171px 138px '../../images/sprite.png' 'arrow-up';
$arrow_name = 'arrow';
$arrow_x = 61px;
$arrow_y = 42px;
$arrow_offset_x = -61px;
$arrow_offset_y = -42px;
$arrow_width = 27px;
$arrow_height = 13px;
$arrow_total_width = 171px;
$arrow_total_height = 138px;
$arrow_image = '../../images/sprite.png';
$arrow = 61px 42px -61px -42px 27px 13px 171px 138px '../../images/sprite.png' 'arrow';
$arrrow_right_name = 'arrrow-right';
$arrrow_right_x = 0px;
$arrrow_right_y = 105px;
$arrrow_right_offset_x = 0px;
$arrrow_right_offset_y = -105px;
$arrrow_right_width = 17px;
$arrrow_right_height = 33px;
$arrrow_right_total_width = 171px;
$arrrow_right_total_height = 138px;
$arrrow_right_image = '../../images/sprite.png';
$arrrow_right = 0px 105px 0px -105px 17px 33px 171px 138px '../../images/sprite.png' 'arrrow-right';
$auth_name = 'auth';
$auth_x = 155px;
$auth_y = 42px;
$auth_offset_x = -155px;
$auth_offset_y = -42px;
$auth_width = 11px;
$auth_height = 17px;
$auth_total_width = 171px;
$auth_total_height = 138px;
$auth_image = '../../images/sprite.png';
$auth = 155px 42px -155px -42px 11px 17px 171px 138px '../../images/sprite.png' 'auth';
$caledar_name = 'caledar';
$caledar_x = 44px;
$caledar_y = 61px;
$caledar_offset_x = -44px;
$caledar_offset_y = -61px;
$caledar_width = 24px;
$caledar_height = 24px;
$caledar_total_width = 171px;
$caledar_total_height = 138px;
$caledar_image = '../../images/sprite.png';
$caledar = 44px 61px -44px -61px 24px 24px 171px 138px '../../images/sprite.png' 'caledar';
$cart_name = 'cart';
$cart_x = 42px;
$cart_y = 105px;
$cart_offset_x = -42px;
$cart_offset_y = -105px;
$cart_width = 17px;
$cart_height = 17px;
$cart_total_width = 171px;
$cart_total_height = 138px;
$cart_image = '../../images/sprite.png';
$cart = 42px 105px -42px -105px 17px 17px 171px 138px '../../images/sprite.png' 'cart';
$close_name = 'close';
$close_x = 155px;
$close_y = 63px;
$close_offset_x = -155px;
$close_offset_y = -63px;
$close_width = 11px;
$close_height = 12px;
$close_total_width = 171px;
$close_total_height = 138px;
$close_image = '../../images/sprite.png';
$close = 155px 63px -155px -63px 11px 12px 171px 138px '../../images/sprite.png' 'close';
$cross_name = 'cross';
$cross_x = 0px;
$cross_y = 0px;
$cross_offset_x = 0px;
$cross_offset_y = 0px;
$cross_width = 57px;
$cross_height = 57px;
$cross_total_width = 171px;
$cross_total_height = 138px;
$cross_image = '../../images/sprite.png';
$cross = 0px 0px 0px 0px 57px 57px 171px 138px '../../images/sprite.png' 'cross';
$email_contacts_name = 'email-contacts';
$email_contacts_x = 63px;
$email_contacts_y = 105px;
$email_contacts_offset_x = -63px;
$email_contacts_offset_y = -105px;
$email_contacts_width = 16px;
$email_contacts_height = 17px;
$email_contacts_total_width = 171px;
$email_contacts_total_height = 138px;
$email_contacts_image = '../../images/sprite.png';
$email_contacts = 63px 105px -63px -105px 16px 17px 171px 138px '../../images/sprite.png' 'email-contacts';
$email_name = 'email';
$email_x = 83px;
$email_y = 105px;
$email_offset_x = -83px;
$email_offset_y = -105px;
$email_width = 16px;
$email_height = 17px;
$email_total_width = 171px;
$email_total_height = 138px;
$email_image = '../../images/sprite.png';
$email = 83px 105px -83px -105px 16px 17px 171px 138px '../../images/sprite.png' 'email';
$fixed_cart_name = 'fixed-cart';
$fixed_cart_x = 0px;
$fixed_cart_y = 61px;
$fixed_cart_offset_x = 0px;
$fixed_cart_offset_y = -61px;
$fixed_cart_width = 40px;
$fixed_cart_height = 40px;
$fixed_cart_total_width = 171px;
$fixed_cart_total_height = 138px;
$fixed_cart_image = '../../images/sprite.png';
$fixed_cart = 0px 61px 0px -61px 40px 40px 171px 138px '../../images/sprite.png' 'fixed-cart';
$location_name = 'location';
$location_x = 155px;
$location_y = 20px;
$location_offset_x = -155px;
$location_offset_y = -20px;
$location_width = 13px;
$location_height = 18px;
$location_total_width = 171px;
$location_total_height = 138px;
$location_image = '../../images/sprite.png';
$location = 155px 20px -155px -20px 13px 18px 171px 138px '../../images/sprite.png' 'location';
$phone_contacts_name = 'phone-contacts';
$phone_contacts_x = 103px;
$phone_contacts_y = 105px;
$phone_contacts_offset_x = -103px;
$phone_contacts_offset_y = -105px;
$phone_contacts_width = 16px;
$phone_contacts_height = 16px;
$phone_contacts_total_width = 171px;
$phone_contacts_total_height = 138px;
$phone_contacts_image = '../../images/sprite.png';
$phone_contacts = 103px 105px -103px -105px 16px 16px 171px 138px '../../images/sprite.png' 'phone-contacts';
$phone_name = 'phone';
$phone_x = 123px;
$phone_y = 105px;
$phone_offset_x = -123px;
$phone_offset_y = -105px;
$phone_width = 16px;
$phone_height = 16px;
$phone_total_width = 171px;
$phone_total_height = 138px;
$phone_image = '../../images/sprite.png';
$phone = 123px 105px -123px -105px 16px 16px 171px 138px '../../images/sprite.png' 'phone';
$select_arrow_name = 'select-arrow';
$select_arrow_x = 155px;
$select_arrow_y = 79px;
$select_arrow_offset_x = -155px;
$select_arrow_offset_y = -79px;
$select_arrow_width = 11px;
$select_arrow_height = 6px;
$select_arrow_total_width = 171px;
$select_arrow_total_height = 138px;
$select_arrow_image = '../../images/sprite.png';
$select_arrow = 155px 79px -155px -79px 11px 6px 171px 138px '../../images/sprite.png' 'select-arrow';
$show_name = 'show';
$show_x = 72px;
$show_y = 61px;
$show_offset_x = -72px;
$show_offset_y = -61px;
$show_width = 24px;
$show_height = 14px;
$show_total_width = 171px;
$show_total_height = 138px;
$show_image = '../../images/sprite.png';
$show = 72px 61px -72px -61px 24px 14px 171px 138px '../../images/sprite.png' 'show';
$skype_name = 'skype';
$skype_x = 155px;
$skype_y = 0px;
$skype_offset_x = -155px;
$skype_offset_y = 0px;
$skype_width = 16px;
$skype_height = 16px;
$skype_total_width = 171px;
$skype_total_height = 138px;
$skype_image = '../../images/sprite.png';
$skype = 155px 0px -155px 0px 16px 16px 171px 138px '../../images/sprite.png' 'skype';
$stars_full_name = 'stars-full';
$stars_full_x = 61px;
$stars_full_y = 21px;
$stars_full_offset_x = -61px;
$stars_full_offset_y = -21px;
$stars_full_width = 90px;
$stars_full_height = 17px;
$stars_full_total_width = 171px;
$stars_full_total_height = 138px;
$stars_full_image = '../../images/sprite.png';
$stars_full = 61px 21px -61px -21px 90px 17px 171px 138px '../../images/sprite.png' 'stars-full';
$stars_name = 'stars';
$stars_x = 61px;
$stars_y = 0px;
$stars_offset_x = -61px;
$stars_offset_y = 0px;
$stars_width = 90px;
$stars_height = 17px;
$stars_total_width = 171px;
$stars_total_height = 138px;
$stars_image = '../../images/sprite.png';
$stars = 61px 0px -61px 0px 90px 17px 171px 138px '../../images/sprite.png' 'stars';
$spritesheet_width = 171px;
$spritesheet_height = 138px;
$spritesheet_image = '../../images/sprite.png';
$spritesheet_sprites = $arrow_down $arrow_left $arrow_up $arrow $arrrow_right $auth $caledar $cart $close $cross $email_contacts $email $fixed_cart $location $phone_contacts $phone $select_arrow $show $skype $stars_full $stars;
$spritesheet = 171px 138px '../../images/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
