/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_down_name = 'arrow-down';
$arrow_down_x = 269px;
$arrow_down_y = 79px;
$arrow_down_offset_x = -269px;
$arrow_down_offset_y = -79px;
$arrow_down_width = 11px;
$arrow_down_height = 6px;
$arrow_down_total_width = 282px;
$arrow_down_total_height = 265px;
$arrow_down_image = '../../images/sprite.png';
$arrow_down = 269px 79px -269px -79px 11px 6px 282px 265px '../../images/sprite.png' 'arrow-down';
$arrow_left_name = 'arrow-left';
$arrow_left_x = 21px;
$arrow_left_y = 211px;
$arrow_left_offset_x = -21px;
$arrow_left_offset_y = -211px;
$arrow_left_width = 17px;
$arrow_left_height = 33px;
$arrow_left_total_width = 282px;
$arrow_left_total_height = 265px;
$arrow_left_image = '../../images/sprite.png';
$arrow_left = 21px 211px -21px -211px 17px 33px 282px 265px '../../images/sprite.png' 'arrow-left';
$arrow_up_name = 'arrow-up';
$arrow_up_x = 269px;
$arrow_up_y = 69px;
$arrow_up_offset_x = -269px;
$arrow_up_offset_y = -69px;
$arrow_up_width = 11px;
$arrow_up_height = 6px;
$arrow_up_total_width = 282px;
$arrow_up_total_height = 265px;
$arrow_up_image = '../../images/sprite.png';
$arrow_up = 269px 69px -269px -69px 11px 6px 282px 265px '../../images/sprite.png' 'arrow-up';
$arrow_name = 'arrow';
$arrow_x = 72px;
$arrow_y = 167px;
$arrow_offset_x = -72px;
$arrow_offset_y = -167px;
$arrow_width = 27px;
$arrow_height = 13px;
$arrow_total_width = 282px;
$arrow_total_height = 265px;
$arrow_image = '../../images/sprite.png';
$arrow = 72px 167px -72px -167px 27px 13px 282px 265px '../../images/sprite.png' 'arrow';
$arrrow_right_name = 'arrrow-right';
$arrrow_right_x = 0px;
$arrrow_right_y = 211px;
$arrrow_right_offset_x = 0px;
$arrrow_right_offset_y = -211px;
$arrrow_right_width = 17px;
$arrrow_right_height = 33px;
$arrrow_right_total_width = 282px;
$arrrow_right_total_height = 265px;
$arrrow_right_image = '../../images/sprite.png';
$arrrow_right = 0px 211px 0px -211px 17px 33px 282px 265px '../../images/sprite.png' 'arrrow-right';
$auth_name = 'auth';
$auth_x = 269px;
$auth_y = 22px;
$auth_offset_x = -269px;
$auth_offset_y = -22px;
$auth_width = 11px;
$auth_height = 17px;
$auth_total_width = 282px;
$auth_total_height = 265px;
$auth_image = '../../images/sprite.png';
$auth = 269px 22px -269px -22px 11px 17px 282px 265px '../../images/sprite.png' 'auth';
$caledar_name = 'caledar';
$caledar_x = 44px;
$caledar_y = 167px;
$caledar_offset_x = -44px;
$caledar_offset_y = -167px;
$caledar_width = 24px;
$caledar_height = 24px;
$caledar_total_width = 282px;
$caledar_total_height = 265px;
$caledar_image = '../../images/sprite.png';
$caledar = 44px 167px -44px -167px 24px 24px 282px 265px '../../images/sprite.png' 'caledar';
$cart_name = 'cart';
$cart_x = 0px;
$cart_y = 248px;
$cart_offset_x = 0px;
$cart_offset_y = -248px;
$cart_width = 17px;
$cart_height = 17px;
$cart_total_width = 282px;
$cart_total_height = 265px;
$cart_image = '../../images/sprite.png';
$cart = 0px 248px 0px -248px 17px 17px 282px 265px '../../images/sprite.png' 'cart';
$close_name = 'close';
$close_x = 269px;
$close_y = 43px;
$close_offset_x = -269px;
$close_offset_y = -43px;
$close_width = 11px;
$close_height = 12px;
$close_total_width = 282px;
$close_total_height = 265px;
$close_image = '../../images/sprite.png';
$close = 269px 43px -269px -43px 11px 12px 282px 265px '../../images/sprite.png' 'close';
$cross_name = 'cross';
$cross_x = 0px;
$cross_y = 106px;
$cross_offset_x = 0px;
$cross_offset_y = -106px;
$cross_width = 57px;
$cross_height = 57px;
$cross_total_width = 282px;
$cross_total_height = 265px;
$cross_image = '../../images/sprite.png';
$cross = 0px 106px 0px -106px 57px 57px 282px 265px '../../images/sprite.png' 'cross';
$email_contacts_name = 'email-contacts';
$email_contacts_x = 41px;
$email_contacts_y = 248px;
$email_contacts_offset_x = -41px;
$email_contacts_offset_y = -248px;
$email_contacts_width = 16px;
$email_contacts_height = 17px;
$email_contacts_total_width = 282px;
$email_contacts_total_height = 265px;
$email_contacts_image = '../../images/sprite.png';
$email_contacts = 41px 248px -41px -248px 16px 17px 282px 265px '../../images/sprite.png' 'email-contacts';
$email_name = 'email';
$email_x = 21px;
$email_y = 248px;
$email_offset_x = -21px;
$email_offset_y = -248px;
$email_width = 16px;
$email_height = 17px;
$email_total_width = 282px;
$email_total_height = 265px;
$email_image = '../../images/sprite.png';
$email = 21px 248px -21px -248px 16px 17px 282px 265px '../../images/sprite.png' 'email';
$fixed_cart_name = 'fixed-cart';
$fixed_cart_x = 0px;
$fixed_cart_y = 167px;
$fixed_cart_offset_x = 0px;
$fixed_cart_offset_y = -167px;
$fixed_cart_width = 40px;
$fixed_cart_height = 40px;
$fixed_cart_total_width = 282px;
$fixed_cart_total_height = 265px;
$fixed_cart_image = '../../images/sprite.png';
$fixed_cart = 0px 167px 0px -167px 40px 40px 282px 265px '../../images/sprite.png' 'fixed-cart';
$location_name = 'location';
$location_x = 269px;
$location_y = 0px;
$location_offset_x = -269px;
$location_offset_y = 0px;
$location_width = 13px;
$location_height = 18px;
$location_total_width = 282px;
$location_total_height = 265px;
$location_image = '../../images/sprite.png';
$location = 269px 0px -269px 0px 13px 18px 282px 265px '../../images/sprite.png' 'location';
$one_star_full_name = 'one-star-full';
$one_star_full_x = 118px;
$one_star_full_y = 106px;
$one_star_full_offset_x = -118px;
$one_star_full_offset_y = -106px;
$one_star_full_width = 53px;
$one_star_full_height = 49px;
$one_star_full_total_width = 282px;
$one_star_full_total_height = 265px;
$one_star_full_image = '../../images/sprite.png';
$one_star_full = 118px 106px -118px -106px 53px 49px 282px 265px '../../images/sprite.png' 'one-star-full';
$one_star_name = 'one-star';
$one_star_x = 61px;
$one_star_y = 106px;
$one_star_offset_x = -61px;
$one_star_offset_y = -106px;
$one_star_width = 53px;
$one_star_height = 49px;
$one_star_total_width = 282px;
$one_star_total_height = 265px;
$one_star_image = '../../images/sprite.png';
$one_star = 61px 106px -61px -106px 53px 49px 282px 265px '../../images/sprite.png' 'one-star';
$phone_contacts_name = 'phone-contacts';
$phone_contacts_x = 101px;
$phone_contacts_y = 248px;
$phone_contacts_offset_x = -101px;
$phone_contacts_offset_y = -248px;
$phone_contacts_width = 16px;
$phone_contacts_height = 16px;
$phone_contacts_total_width = 282px;
$phone_contacts_total_height = 265px;
$phone_contacts_image = '../../images/sprite.png';
$phone_contacts = 101px 248px -101px -248px 16px 16px 282px 265px '../../images/sprite.png' 'phone-contacts';
$phone_name = 'phone';
$phone_x = 61px;
$phone_y = 248px;
$phone_offset_x = -61px;
$phone_offset_y = -248px;
$phone_width = 16px;
$phone_height = 16px;
$phone_total_width = 282px;
$phone_total_height = 265px;
$phone_image = '../../images/sprite.png';
$phone = 61px 248px -61px -248px 16px 16px 282px 265px '../../images/sprite.png' 'phone';
$select_arrow_name = 'select-arrow';
$select_arrow_x = 269px;
$select_arrow_y = 59px;
$select_arrow_offset_x = -269px;
$select_arrow_offset_y = -59px;
$select_arrow_width = 11px;
$select_arrow_height = 6px;
$select_arrow_total_width = 282px;
$select_arrow_total_height = 265px;
$select_arrow_image = '../../images/sprite.png';
$select_arrow = 269px 59px -269px -59px 11px 6px 282px 265px '../../images/sprite.png' 'select-arrow';
$show_name = 'show';
$show_x = 42px;
$show_y = 211px;
$show_offset_x = -42px;
$show_offset_y = -211px;
$show_width = 24px;
$show_height = 14px;
$show_total_width = 282px;
$show_total_height = 265px;
$show_image = '../../images/sprite.png';
$show = 42px 211px -42px -211px 24px 14px 282px 265px '../../images/sprite.png' 'show';
$skype_name = 'skype';
$skype_x = 81px;
$skype_y = 248px;
$skype_offset_x = -81px;
$skype_offset_y = -248px;
$skype_width = 16px;
$skype_height = 16px;
$skype_total_width = 282px;
$skype_total_height = 265px;
$skype_image = '../../images/sprite.png';
$skype = 81px 248px -81px -248px 16px 16px 282px 265px '../../images/sprite.png' 'skype';
$stars_full_name = 'stars-full';
$stars_full_x = 175px;
$stars_full_y = 127px;
$stars_full_offset_x = -175px;
$stars_full_offset_y = -127px;
$stars_full_width = 90px;
$stars_full_height = 17px;
$stars_full_total_width = 282px;
$stars_full_total_height = 265px;
$stars_full_image = '../../images/sprite.png';
$stars_full = 175px 127px -175px -127px 90px 17px 282px 265px '../../images/sprite.png' 'stars-full';
$stars_name = 'stars';
$stars_x = 175px;
$stars_y = 106px;
$stars_offset_x = -175px;
$stars_offset_y = -106px;
$stars_width = 90px;
$stars_height = 17px;
$stars_total_width = 282px;
$stars_total_height = 265px;
$stars_image = '../../images/sprite.png';
$stars = 175px 106px -175px -106px 90px 17px 282px 265px '../../images/sprite.png' 'stars';
$vote_stars_full_name = 'vote-stars-full';
$vote_stars_full_x = 0px;
$vote_stars_full_y = 53px;
$vote_stars_full_offset_x = 0px;
$vote_stars_full_offset_y = -53px;
$vote_stars_full_width = 265px;
$vote_stars_full_height = 49px;
$vote_stars_full_total_width = 282px;
$vote_stars_full_total_height = 265px;
$vote_stars_full_image = '../../images/sprite.png';
$vote_stars_full = 0px 53px 0px -53px 265px 49px 282px 265px '../../images/sprite.png' 'vote-stars-full';
$vote_stars_name = 'vote-stars';
$vote_stars_x = 0px;
$vote_stars_y = 0px;
$vote_stars_offset_x = 0px;
$vote_stars_offset_y = 0px;
$vote_stars_width = 265px;
$vote_stars_height = 49px;
$vote_stars_total_width = 282px;
$vote_stars_total_height = 265px;
$vote_stars_image = '../../images/sprite.png';
$vote_stars = 0px 0px 0px 0px 265px 49px 282px 265px '../../images/sprite.png' 'vote-stars';
$spritesheet_width = 282px;
$spritesheet_height = 265px;
$spritesheet_image = '../../images/sprite.png';
$spritesheet_sprites = $arrow_down $arrow_left $arrow_up $arrow $arrrow_right $auth $caledar $cart $close $cross $email_contacts $email $fixed_cart $location $one_star_full $one_star $phone_contacts $phone $select_arrow $show $skype $stars_full $stars $vote_stars_full $vote_stars;
$spritesheet = 282px 265px '../../images/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
